option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: AWSElasticBeanstalkEC2Role
  aws:elasticbeanstalk:environment:
    ServiceRole: AWSElasticBeanstalkServiceRole

Resources:
  AWSElasticBeanstalkEC2Role:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AWSElasticBeanstalkWebTier
        - arn:aws:iam::aws:policy/CloudWatchLogsFullAccess
        - arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy

  AWSElasticBeanstalkEC2RolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: AWSElasticBeanstalkEC2RolePolicy
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - cloudwatch:PutMetricData
              - ec2:DescribeVolumes
              - ec2:DescribeTags
              - logs:PutLogEvents
              - logs:DescribeLogStreams
              - logs:DescribeLogGroups
              - logs:CreateLogStream
              - logs:CreateLogGroup
            Resource: "*"
      Roles:
        - Ref: AWSElasticBeanstalkEC2Role 